<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Bar de tragos en Palermo, Bar de cocktails, Cocktails de autor, Anasagasti Bar Palermo">
    <meta name="description"
        content="Descubrí la casa del cocktail, tragos de autor y las mejores tapas de Buenos Aires">
    <title>Cocktails</title>
    <link rel="stylesheet" href="../Assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather+Sans&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <section class="posicionLogo">
                <img class="logo" src="../Assets/img/Logo.jpg" alt="logo">
            </section>
            <div>
                <img id="portada" class="posicionPortada" src="../Assets/img/header4.jpg" alt="portada">
            </div>
        </div>

        <nav>
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./cocktails.html">Cocktails</a></li>
                <li><a href="./tapas.html">Tapas</a></li>
                <li class="uno"><a href="./reserva.html">Reserva</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Cocktails de Autor</h1>
        <br>
        <br>
        <br>
        <br>
        <div>
            <section class="coctel-impar">
                <img class="coctel-impar__imagen" src="../Assets/img/coctel 1.jpg" alt="Coctel whisky">
                <div>
                    <p class="chico">Para los amantes del whisky, Blended o Single Malt <br>
                        Entre copa y copa, suceden grandes cosas <br> Estás invitado...
                    </p>
                </div>
            </section>

        </div>

        <div>
            <section class="coctel-par">
                <img class="coctel-par__imagen" src="../Assets/img/coctel 6.jpg" alt="Coctel sin fronteras">
                <div>
                    <p class="chico">Sin Fronteras by Agu Giuliani <br>
                        Almibar de Earl Grey, Ananá, Limón, Absenta y Cerveza lager <br>
                        Te espera en la casa del cocktail <br>
                        Secretos y verdades que necesitan ser revelados <br> Estás invitado...</p>
                </div>
            </section>
        </div>

        <div>
            <section class="coctel-impar">
                <img class="coctel-impar__imagen" src="../Assets/img/coctel 29.jpg" alt="Coctel free style">
                <div>
                    <p class="chico">Free Style Cocktail & Good Taste <br> Exclusivo en Anasagasti Bar <br>
                        Tragos Personalizados <br> Make your own story <br> Estás invitado...
                    </p>
                </div>               
            </section>
        </div>

        <div>
            <section class="coctel-par">
                <img class="coctel-par__imagen" src="../Assets/img/coctel 24 (negroni).jpg" alt="Coctel negroni">
                <div>
                    <p class="chico">Ginebra, Martini Rosso, Campari, Naranja y Hielo <br>
                    Un plan creado a tu medida <br> Estás invitado...
                </p>
                </div>            
            </section>
        </div>
    </main>

    <Footer>
        <div>

            <ul class="pieDePagina">
                <li class="facebook"><a href="https://www.facebook.com/anasagastibuenosaires/" target="_blank"><img
                            src="../Assets/redsocial/FacebookDorado (2).png"></a></li>
                <li class="instagram"><a href="https://www.instagram.com/anasagasti_ba" target="_blank"><img
                            src="../Assets/redsocial/instagramDorado.png"></a></li>
            </ul>
        </div>
        <div >
            <p class="direccion">
              Pasaje Anasagasti 2067, Palermo, Buenos Aires
            </p>
          </div>

        <section>
            <ul class="menuFooter">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./cocktails.html">Cocktails</a></li>
                <li><a href="./tapas.html">Tapas</a></li>
                <li><a href="./reserva.html">Reserva</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </section>

        <ul>
            <li class="colorCopy">&copy;Anasagasti Bar</li>
        </ul>

    </Footer>
</body>

</html>