<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Anasagasti Bar instagram, Anasagasti Bar Palermo">
    <meta name="description"
        content="Anasagasti Bar es un bar de cocktails de autor y tapas ubicado en Palermo, Buenos Aires">
    <title>Contacto</title>
    <link rel="stylesheet" href="../Assets/scss/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather+Sans&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <section class="posicionLogo">
                <img class="logo" src="../Assets/img/Logo.jpg" alt="logo">
            </section>
            <div>
                <img id="portada" class="posicionPortada" src="../Assets/img/header4.jpg" alt="portada">
            </div>
        </div>

        <nav>
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./cocktails.html">Cocktails</a></li>
                <li><a href="./tapas.html">Tapas</a></li>
                <li class="uno"><a href="./reserva.html">Reserva</a>
                    <!--<ul class="submenu">
                        <li><a href="./bar.html">Bar</a></li>
                        <li><a href="./eventosprivados.html">Eventos Privados</a></li>
                    </ul>-->
                </li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Dejanos tu consulta</h1>
        <form class="formulario" action="#" method="GET">
            <input type="text" class="control" placeholder="Nombre">
            <input type="text" class="control" placeholder="Apellido">
            <input type="email" class="control" placeholder="E-mail" required>
            <input type="tel" class="control" placeholder="Celular" required>
            <textarea name="consulta" class="control" placeholder="Dejanos tu consulta" cols="30" rows="10"></textarea>
            <input type="submit" class="boton" value="Enviar">
            <input type="reset" class="boton" value="Borrar">
        </form>
    </main>

    <Footer>
        <div>

            <ul class="pieDePagina">
                <li class="facebook"><a href="https://www.facebook.com/anasagastibuenosaires/" target="_blank"><img
                            src="../Assets/redsocial/facebook.png"></a></li>
                <li class="instagram"><a href="https://www.instagram.com/anasagasti_ba" target="_blank"><img
                            src="../Assets/redsocial/instagram.png"></a></li>
            </ul>
        </div>

        <section>
            <ul class="menuFooter">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./cocktails.html">Cocktails</a></li>
                <li><a href="./tapas.html">Tapas</a></li>
                <li><a href="./reserva.html">Reserva</a>
                    <!--<ul class="submenu">
                        <li><a href="./bar.html">Bar</a></li>
                        <li><a href="./eventosprivados.html">Eventos Privados</a></li>
                    </ul>-->
                </li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </section>

        <ul>
            <li class="colorCopy">&copy;Anasagasti Bar</li>
        </ul>

    </Footer>
</body>

</html>