<!--<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktails</title>
    <link rel="stylesheet" href="../Assets/css/estiloproyecto.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather+Sans&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <section class="posicionLogo">
                <img id="logo" src="../Assets/img/Logo.jpg" alt="logo">
            </section>
            <div>
                <img id="portada" class= "posicionPortada" src="../Assets/img/header4.jpg" alt="portada">
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <nav>
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./cocktails.html">Cocktails</a></li>
                <li><a href="./tapas.html">Tapas</a></li>
                <li class="uno"><a href="./reserva.html">Reserva</a>
                    <ul class="submenu">
                        <li><a href="./bar.html">Bar</a></li>
                        <li><a href="./eventosprivados.html">Eventos Privados</a></li>
                    </ul>
                </li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <main>
        <h1>Reserva tu espacio</h1>
        <br>
        <br>
        <form action="#" method="GET">
            <fieldset class="colorFormulario">
                <br>
                <br>
                <legend>Reservas</legend>
                <label for="nombre">Nombre</label>
                <input type="text" nombre="nombre">
                <br>
                <br>
                <label for="email">E-Mail</label>
                <input type="email" nombre="email" required>
                <br>
                <br>
                <label for="celular">Celular</label>
                <input type="tel" nombre="celular" required> 
                <br>
                <br>
                <label for="cantidad de personas">Cantidad de Personas</label>
                <input type="text" nombre="cantidad de personas">
                <br>
                <br>
                <label for="fecha">Fecha</label>
                <input type="numero" nombre="fecha">
                <br>
                <br>
                <label for="tipo de evento">Evento</label>
                    <select name="evento">
                        <option value="evento">¿Qué vas a celebrar?</option>
                        <option value="cumpleaños">Cumpleaños</option>
                        <option value="casamiento">Casamiento</option>
                        <option value="fiesta">Fiesta</option>
                        <option value="Evento empresarial">Evento Empresarial</option>
                    </select>
                    <br>
                    <br>    
                <input type="submit" value="Enviar">
            </fieldset>

        </form>
    </main>
    <br>
    <br>
    <br>
    <Footer>
        <div>
            <ul>
                <li id="colorCopy">&copy;Anasagasti Bar</li>
            </ul>
            <ul class="pieDePagina">
                <li><a href="https://www.facebook.com/anasagastibuenosaires/" target="_blank">Facebook</a></li>
                <li><a href="https://www.instagram.com/anasagasti_ba" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </Footer>
</body>

</html>-->