<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Bar de tapas buenos aires, Bar de tapas en palermo, Anasagasti Bar menu">
    <meta name="description"
        content="Anasagasti Bar tiene las mejores tapas de Buenos Aires, la dupla ideal para acompañar tus tragos">
    <title>Tapas</title>
    <link rel="stylesheet" href="../Assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather+Sans&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <section class="posicionLogo">
                <img class="logo" src="../Assets/img/Logo.jpg" alt="logo">
            </section>
            <div>
                <img id="portada" class="posicionPortada" src="../Assets/img/header4.jpg" alt="portada">
            </div>
        </div>

        <nav>
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./cocktails.html">Cocktails</a></li>
                <li><a href="./tapas.html">Tapas</a></li>
                <li class="uno"><a href="./reserva.html">Reserva</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Las mejores tapas de Buenos Aires</h1>

        <div>
            <section class="tapa-impar">
                <img class="tapa-impar__imagen" src="../Assets/img/tapa28.jpg" alt="Blanco de ave">
                <br>
                <br>
                <p class="parrafoImpar"> Dejate tentar... <br> Blanco de ave, con guacamole y tomatitos confitados <br>
                    Acompañalo con cualquiera de nuestros cocktails
                </p>
            </section>

            <section class="tapa-par">
                <img class="tapa-par__imagen" src="../Assets/img/tapas5.jpg" alt="sandwich de bondiola">
                <br>
                <br>
                <p>Un placer inesperado... <br> Sándwich de bondiola desmenuzada & Camembert <br> rebozado en sésamo con
                    ragú de
                    peras especiadas y rúcula
                </p>
            </section>

            <section class="tapa-impar">
                <img class="tapa-impar__imagen" src="../Assets/img/tapaVeggie.jpg" alt="tapa veggie">
                <br>
                <br>
                <p> Para los que prefieren un estilo Veggie: <br> Verduras al Vapor, Puré de
                    berenjenas <br> Hummus y Huevo Mollete en soja
                </p>
            </section>

            <section class="tapa-par">
                <img class="tapa-par__imagen" src="../Assets/img/coctel y food 3.jpg" alt="pechito jack">
                <br>
                <br>
                <p>Dos que se llevan más que bien... <br> Pechito de cerdo con salsa Jack Daniel's <br> bastones de
                    mandioca y ensalada de zanahoria y remolacha
                </p>
            </section>
        </div>
    </main>

    <Footer>
        <div>

            <ul class="pieDePagina" class="redSocial">
                <li class="facebook"><a href="https://www.facebook.com/anasagastibuenosaires/" target="_blank"><img
                            src="../Assets/redsocial/FacebookDorado (2).png"></a></li>
                <li class="instagram"><a href="https://www.instagram.com/anasagasti_ba" target="_blank"><img
                            src="../Assets/redsocial/instagramDorado.png"></a></li>
            </ul>
        </div>
        <div >
            <p class="direccion">
              Pasaje Anasagasti 2067, Palermo, Buenos Aires
            </p>
          </div>
        <section>
            <ul class="menuFooter">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./cocktails.html">Cocktails</a></li>
                <li><a href="./tapas.html">Tapas</a></li>
                <li><a href="./reserva.html">Reserva</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </section>

        <ul>
            <li class="colorCopy">&copy;Anasagasti Bar</li>
        </ul>

    </Footer>
</body>

</html>