<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Bar de tapas buenos aires, Bar de tapas en palermo, Anasagasti Bar menu">
    <meta name="description"
        content="Anasagasti Bar tiene las mejores tapas de Buenos Aires, la dupla ideal para acompañar tus tragos">
    <title>Tapas</title>
    <link rel="stylesheet" href="../Assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather+Sans&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <section class="posicionLogo">
                <img class="logo" src="../Assets/img/Logo.jpg" alt="logo">
            </section>
            <div>
                <img id="portada" class="posicionPortada" src="../Assets/img/header4.jpg" alt="portada">
            </div>
        </div>

        <nav>
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./cocktails.html">Cocktails</a></li>
                <li><a href="./tapas.html">Tapas</a></li>
                <li class="uno"><a href="./reserva.html">Reserva</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Las mejores tapas de Buenos Aires</h1>

        <div>
            <section class="tapa-impar">
                <img class="tapa-impar__imagen" src="../Assets/img/tapas 4.jpg" alt="tapauno">
                <br>
                <br>
                <p class="parrafoImpar"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod iste aspernatur
                    repellat recusandae
                    fugiat veritatis! Mollitia, eius ipsum omnis quasi corrupti blanditiis beatae? Sequi suscipit, unde
                    magni provident quia aperiam corrupti harum minus ratione error earum recusandae, architecto,
                    voluptas laudantium nihil similique? Aliquid modi dicta distinctio vero. Vero, laborum assumenda!
                </p>
            </section>

            <section class="tapa-par">
                <img class="tapa-par__imagen" src="../Assets/img/tapas 5.jpg" alt="sandwich de bondiola">
                <br>
                <br>
                <p>Un placer inesperado... Sándwich de bondiola desmenuzada & Camembert rebozado en sésamo con ragú de
                    peras especiadas y rúcula
                </p>
            </section>

            <section class="tapa-impar">
                <img class="tapa-impar__imagen" src="../Assets/img/tapas 6.jpg" alt="tapatres">
                <br>
                <br>
                <p class="parrafoImpar">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod iste aspernatur
                    repellat recusandae
                    fugiat veritatis! Mollitia, eius ipsum omnis quasi corrupti blanditiis beatae? Sequi suscipit, unde
                    magni provident quia aperiam corrupti harum minus ratione error earum recusandae, architecto,
                    voluptas laudantium nihil similique? Aliquid modi dicta distinctio vero. Vero, laborum assumenda!
                </p>
            </section>

            <section class="tapa-par">
                <img class="tapa-par__imagen" src="../Assets/img/coctel y food 3.jpg" alt="tapacuatro">
                <br>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod iste aspernatur repellat recusandae
                    fugiat veritatis! Mollitia, eius ipsum omnis quasi corrupti blanditiis beatae? Sequi suscipit, unde
                    magni provident quia aperiam corrupti harum minus ratione error earum recusandae, architecto,
                    voluptas laudantium nihil similique? Aliquid modi dicta distinctio vero. Vero, laborum assumenda!
                </p>
            </section>

        </div>

    </main>

    <Footer>
        <div>

            <ul class="pieDePagina" class="redSocial">
                <li class="facebook"><a href="https://www.facebook.com/anasagastibuenosaires/" target="_blank"><img
                            src="../Assets/redsocial/facebook.png"></a></li>
                <li class="instagram"><a href="https://www.instagram.com/anasagasti_ba" target="_blank"><img
                            src="../Assets/redsocial/instagram.png"></a></li>
            </ul>
        </div>

        <section>
            <ul class="menuFooter">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./cocktails.html">Cocktails</a></li>
                <li><a href="./tapas.html">Tapas</a></li>
                <li><a href="./reserva.html">Reserva</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </section>

        <ul>
            <li class="colorCopy">&copy;Anasagasti Bar</li>
        </ul>

    </Footer>
</body>

</html>